@page
@model HWK_krull.Pages.PresidentsModel

@{

}
<h4>Edit Presidents</h4>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <table class="table table-borderless">
                <tr>
                    <th width="55">YEAR</th>
                    <th width="124">PRESIDENT</th>
                    <th width="266">FIRST LADY</th>
                    <th width="159">VICE PRESIDENT</th>
                </tr>
                <tr>
                    <td><b>1789-1797</b></td>
                    <td>George Washington</td>
                    <td>Martha Washington</td>
                    <td>John Adams</td>
                </tr>
                <tr>
                    <td><b>1801-1805</b></td>
                    <td>Thomas Jefferson</td>
                    <td><p>[Martha Wayles Skelton Jefferson <br>
                        died before Jefferson assumed office]</p></td>
                    <td>Aaron Burr</td>
                </tr>
                <tr>
                    <td><b>1805-1809</b></td>
                    <td>Thomas Jefferson</td>
                    <td>see above</td>
                    <td>George Clinton</td>
                </tr>
                <tr>
                    <td><b>1809-1812</b></td>
                    <td>James Madison</td>
                    <td>Dolley Madison</td>
                    <td>George Clinton</td>
                </tr>
                <tr>
                    <td><b>1829-1832</b></td>
                    <td>Andrew Jackson</td>
                    <td>Rachel Jackson [Rachel Donelson Jackson 
                        died before Jackson assumed office and did not serve as first lady]</td>
                    <td>John C. Calhoun</td>
                </tr>
                <tr>
                    <td><b>1833-1837</b></td>
                    <td>Andrew Jackson</td>
                    <td>Rachel Jackson [Rachel Donelson Jackson 
                        died before Jackson assumed office and did not serve as first lady]</td>
                    <td>Martin Van Buren</td>
                </tr>
                <tr>
                    <td><b>1837-1841</b></td>
                    <td>Martin Van Buren</td>
                    <td>Hannah Hoes Van Buren</td>
                    <td>Richard M. Johnson</td>
                </tr>
                <tr>
                    <td><b>1845-1849</b></td>
                    <td>James K. Polk</td>
                    <td>Sarah Childress Polk</td>
                    <td>George M. Dallas</td>
                </tr>
                <tr>
                    <td><b>1849-1850</b></td>
                    <td>Zachary Taylor</td>
                    <td>Margaret Mackall Smith Taylor</td>
                    <td>Millard Fillmore</td>
                </tr>
                <tr>
                    <td><b>1861-1865</b></td>
                    <td>Abraham Lincoln</td>
                    <td>Mary Todd Lincoln</td>
                    <td>Hannibal Hamlin</td>
                </tr>
                <tr>
                    <td><b>1865</b></td>
                    <td>Abraham Lincoln</td>
                    <td>Mary Todd Lincoln</td>
                    <td>Andrew Johnson</td>
                </tr>
                <tr>
                    <td><b>1865-1869</b></td>
                    <td>Andrew Johnson</td>
                    <td>Eliza McCardle Johnson</td>
                    <td>office vacant</td>
                </tr>
            </table>
        </form>
    </div>
</div>